body {
  background-color:blanchedalmond;
}
header{
background-image: url( "/cs472/Lab2/img/360_F_306033697_cgP7Y992eeoBdfstzG7vkHG5fyS9Z3n2.jpg");
border-bottom: 5px solid #ccc;
height: 300px;
}
strong{
  color:rgb(3, 112, 76)
}

h1{
  padding: 70px;
  
}

.im1{
  border-image-width: 50px;
  width: 400px;
  height: 400px;
 
  
}
.ab{
width: 70px;
height: 50px;
}







